:root {
  --ff-main: "Montserrat", sans-serif;
  --ff-accent: "Oswald", sans-serif;

  --fs-xs: 16px;
  --fs-s: 18px;
  --fs-s-regular: 21px;
  --fs-m-regular: 24px;
  --fs-m: 30px;
  --fs-l: 36px;
  --fs-xl: 50px;
  --fs-xxl: 90px;

  --clr-bg-header: #2e323f;
  --clr-bg-dark: #3b4050;
  --clr-grey: #f1f1f1;
  --clr-white: #fff;
  --clr-gold: #a59678;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.img {
  width: 100%;
  display: block;
}

body {
  font-family: var(--ff-main);
  color: var(--clr-bg-dark);
  line-height: 1.6;
}

.white-text {
  color: var(--clr-white);
}

.grey-text {
  color: var(--clr-grey);
}

.gold-text {
  color: var(--clr-gold);
}

.btn {
  background-color: var(--clr-gold);
  color: #fff;
  font-family: var(--ff-accent);
  text-transform: uppercase;
  border: none;
  padding: 0.25em 0.75em;
  border-radius: 1em;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: var(--clr-bg-header);
  padding: 1.5rem 0;
  font-family: var(--ff-accent);
  font-size: var(--fs-xs);
}

.row {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.logo {
  width: 60px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.navigation ul {
  list-style-type: none;
  text-transform: uppercase;
}

.navigation a {
  text-decoration: none;
}

.signin-btn {
  margin-left: 0.75em;
}

.intro {
  background-color: var(--clr-bg-dark);
  padding: 3rem 0;
}

.intro h1 {
  font-family: var(--ff-accent);
  font-size: var(--fs-xl);
  line-height: 1.1;
}

.intro__text p {
  font-family: var(--ff-main);
  font-size: var(--fs-s);
}

.intro__text .btn {
  font-size: var(--fs-s);
  margin-top: 1rem;
}

.section-one {
  background-color: var(--clr-grey);
  padding: 3rem 0;
  text-align: center;
}

.section-one h3 {
  font-family: var(--ff-accent);
  font-size: var(--fs-m-regular);
  margin-bottom: 1rem;
}

.section-one p {
  font-size: var(--fs-xs);
}

.section-two {
  padding: 3rem 0;
}

.section-two main,
.section-two aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-two h2 {
  font-family: var(--ff-accent);
  font-size: var(--fs-m);
  line-height: 1.1;
}

.section-two main p {
  font-size: var(--fs-s);
}

.aside__card {
  background-color: var(--clr-bg-dark);
  padding: 1.5rem;
  text-align: center;
}

.aside__card h3 {
  font-family: var(--ff-accent);
  font-size: var(--fs-m-regular);
  margin-bottom: 1rem;
}

.aside__card p {
  font-size: var(--fs-xs);
}

.footer {
  background-color: var(--clr-bg-dark);
  padding: 3rem 0;
}
